body {
  margin:0;
  font-family:Arial;
  background:#36393f;
  color:white;
  display:flex;
  height:100vh;
}

.center {
  margin:auto;
  text-align:center;
}

.hidden {
  display:none;
}

input {
  padding:8px;
  margin:5px;
  border-radius:5px;
  border:none;
}

button {
  padding:8px;
  margin:5px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  background:#5865F2;
  color:white;
}

#app {
  display:flex;
  width:100%;
}

#sidebar {
  width:230px;
  background:#2f3136;
  padding:15px;
  box-sizing:border-box;
}

#serverList button {
  width:100%;
  background:#40444b;
}

#main {
  flex:1;
  display:flex;
  flex-direction:column;
}

#topBar {
  padding:10px;
  background:#2f3136;
  border-bottom:1px solid #444;
}

#messages {
  flex:1;
  padding:15px;
  overflow-y:auto;
}

#chatBar {
  padding:10px;
  background:#40444b;
}

.timestamp {
  font-size:12px;
  color:#aaa;
  margin-left:6px;
}

/* MODAL */
.modal {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #2f3136;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

/* prevent click propagation */
.modalContent * {
  pointer-events: auto;
}
